body {
  background-color: white;
  font-family: "Helvetica Neue";
  color: #242322;
  margin: 0;
}
h1 {
  font-weight: 200;
}

a {
  color: #F44336;
  transition: color .1s;
}
a:link {
  text-decoration: none;
}
a:hover {
  color: #B71C1C;
}
.highlight {
  font-weight: bolder;
}
.container {
  border: 0px solid black;
  display: grid;
  width: 100%;
  /* min-height: 100%; */ 
  opacity: 1.0;
  transition: opacity 1s;
}
#mainContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "heya"
    "works"
    "skills"
    "contact"
    "dog"
    "footer"
    ;
  overflow: hidden;
}

.sectionWrap {
  border: 0px solid red;
  width: 100%;
  margin-top:00px;
}
.section {
  display: grid;
  margin: auto;
  width: 95%;
  border: 0px solid red;
}
.sectionHeading {
  border: 0px solid grey;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 10px;
}
.sectionDescription {
  border: 0px solid grey;
  margin-bottom: 30px;
  font-size: 20px;
}
.callToActionBtn {
  width: 90%;
  height: 40px;
  border: 2px solid #242322;
  border-radius: 3px;
  text-align: center;
  padding-top: 15px;
  margin: 10px;
  transition: all .3s;
}
.callToActionBtn:hover {
  border: 1px solid #B71C1C;
  cursor: pointer;
}


#headerWrap {
  grid-area: header;
  display: none;
  /* border: 0px solid red; */
  background-color: white;
}
#header {
  border: 0px solid grey;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}


#heyaWrap {
  grid-area: heya;
  /* border: 0px solid orange; */
  background-color: white;
  color: #242322;
}
#heya {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: 
    "heyaHeading"
    "heyaDescription"
    "totallyNotBalding"
    ;
  border: 0px solid black;
}
#heyaHeading {
  grid-area: heyaHeading;
  margin-bottom: 10px;
  font-size: 80px;
  font-weight: 900;
}
#heyaDescription {
  grid-area: heyaDescription;
  margin-top: 20px;
  margin-bottom: 0px;
}
#totallyNotBalding {
  grid-area: totallyNotBalding;
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 16px;
}
#heyaBtn {
  margin-bottom: 60px;
  margin-top: 45px;
}

.worksFrame {
  display: flex;
  flex-direction: column;
  border: 0px solid gray;
  width: 100%;
  margin: auto;
}
.workCard {
  position: relative;
}
.textOverlay {
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.815);
  padding-left: 10px;
  padding-right: 10px;
  color: #eee;
  min-height: 50%;
}
.workCardImg {
  width: 100%;
  height: auto;
}
.workCardHeader {
  grid-area: workCardHeader;
  border: 0px solid green;
  width: 100%;
  margin: 10px;
  margin-left: 0px;
  font-size: 28px;
}
.workCardDescription {
  grid-area: workCardDescription;
  border: 0px solid red;
  width: 100%;
  font-size: 20px;
  margin-bottom: 30px;
}
#workWrap {
  grid-area: works;
  background-color: #242322;
  color: rgb(221, 221, 221);
  width: 100%;
  padding-top: 30px;
  /* border: 0px solid green; */
}
#work {
  border: 0px solid white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "workHeading"
    "workDescription"
    ;
  width: 100%;
}
#workHeading {
  border: 0px solid yellow;
  grid-area: workHeading;
  width: 95%;
  margin: auto;
}
#workDescription {
  grid-area: workDescription;
  width: 95%;
  margin: auto;
}

#soonishCard {
  /* margin-top: 30px; */
}
#bahOverlayText {
  background-color: rgba(0, 0, 0, 0.705);
}

#skillsWrap {
  grid-area: skills;
  /* border: 0px solid red; */
  background-color:white;
  color: #242322;
  padding-top: 30px;
}
#skills {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "skillsHeading"
    "skillsDescription"
    ;
  border: 0px solid brown;
}
#skillsHeading {
  grid-area: skillsHeading;
}
#skillsDescription {
  grid-area: skillsDescription;
}


#contactWrap {
  grid-area: contact;
  background-color: white;
  color: #242322;
}
#contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "contactHeading"
    "contactDescription"
    ;
  border: 0px solid blue;
}
#contactHeading {
  grid-area: contactHeading;
}
#contactDescription {
  grid-area: contactDescription;
}


#dogWrap {
  grid-area: dog;
  background-color: white;
  color: black;
}
#dog {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "dogHeading"
    "dogDescription"
    ;
  border: 0px solid orangered;
}
#dogHeading {
  grid-area: dogHeading;
}
#dogDescription {
  grid-area: dogDescription;
}
#ollieFrame {
  width: 100%;
  border: 0px solid red;
  overflow: hidden;
  border-radius: 01%;
}
#ollieImg {
  width: 100%;
  transition: all .5s;
}
#ollieFrame:hover > #ollieImg {
  transform: scale(1.05);
}


#footerWrap {
  grid-area: footer;
  background-color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}
#footer {
  border: 0px solid orange;
}



@media (max-width: 415px) {
  .md-modal {
    width: 95%;
    margin-bottom: 44px;
  }
  .md-header {
    font-size: 20px;
  }
  .md-sideImg {
    width: 60%;
    height: auto;
  }
}

@media (max-width: 767px) and (max-height: 420px) {
  .md-modal {
    width: 100%;
    height: auto;
    max-height: 100%;
  }
  .md-sideImg {
    display: none;
  }
  .md-about {
    display: none;
  }
  .md-info {
    margin-top: 10px;
    font-size: 10px;
  }
}

@media (min-width: 768px) {

  .md-modal {
    width: 60%;
    height: auto;
  }

  #mainContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "heya heya"
      "works works"
      "skills contact"
      "dog dog"
      "footer footer"
    ;
  }
  
  #heya {
    /* border: 0px solid red; */
    margin: auto;
    margin-bottom: 10px;
    width: 90%;
  }
  
  .worksFrame {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .workCard {
    width: 50%;
  }

  #dog {
    width: 70%;
  }

}

@media (min-width: 1023px) {
  
  .md-modal {
    width: 50%;
  }
  
  #mainContainer {
    grid-template-areas:
      "header header"
      "heya heya"
      "skills works"
      "contact works"
      "dog works"
      "footer footer"
    ;
  }

  .sectionWrap {
    width: 100%;
    margin: auto;
  }
  .sectionHeading {
    font-size: 50px;
  }

  .overlayHeader {
    font-size: calc(100% + 0.20vw);
  }

  #headerWrap {
    display: none;
  }

  #heyaWrap {
    /* border: 0px solid black; */
    width: 100%;
    margin: auto;
    margin-top: 0px;
    background-color: white;
    color: black;
  }
  #heya {
    /* border: 0px solid green; */
    margin: 0px;
    width: 50%;
  }
  #heyaHeading {
    /* border: 0px solid red; */
    margin: 20px;
    font-size: 60px;
    border-radius: 50%;
  }
  #heyaDescription {
    /* border: 0px solid orange; */
    margin: 20px;
    margin-top: 0px;
  }
  #totallyNotBalding {
    margin: 20px;
    margin-top: 0px;
  }

  #workWrap {
    /* border: 0px solid red; */
    margin-top: 0px;
    height: 100%;
  }
  #work {
    margin-top: 00px;
  }

  #skillsWrap {
    /* border: 0px solid red; */
    color: black;
    background-color: white;
  }
  #skills {
    /* border: 0px solid green; */
    width: 100%;
    margin: 0px;

  }

  #contactWrap {
    /* border: 0px solid red; */
  }
  #contact {
    border: 0px solid green;
    width: 100%;
  }
  #contactWrap {
    background-color: white;
    color: black;
  }

  #dogWrap {
    /* border: 0px solid red; */
  }
  #dog {
    border: 0px solid green;
    width: 100%;
  }

  #ollieFrame {
    width: 80%;
    margin-left: 20px;
  }
}

@media (min-width: 1150px) {
  #mainContainer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "heya . ."
      "skills works works"
      "contact works works"
      "dog works works"
      ". works works"
      "footer footer footer"
    ;
  }
  #worksFrame {
    column-count: 5;
  }
  #heya {
    border: 0px solid black;
    width: 100%;
  }
}

@media (min-width: 1439px) {
  #mainContainer {
    margin: auto;
  }
  .sectionHeading {
    font-size: 50px;
  }
  .sectionDescription {
    font-size: 22px;
    line-height: 32px;
  }
  #heyaHeading {
    font-size: 90px;
  }
  #heyaDescription {
    font-size: 24px;
  }
}

@media (min-width: 1599px) {

  .md-modal {
    width: 40%;
  }

  #mainContainer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "heya works works"
      "skills works works"
      "contact works works"
      "dog works works"
      "footer footer footer"
    ;
    max-width: 1800px;
  }
  #worksFrame {
    column-count: 5;
  }
}